*, 
*::before, 
*::after { box-sizing: border-box; } /* padding e border passam a compor a 
largura/altura */ 
 
body { margin: 0; padding: 2rem; background: #abdeeeff; } 
 
.card { 
   width:  320px;                        /* largura total já considera 
padding/border */ 
  padding: 16px; 
  border: 2px solid #0e858dff; 
  margin: 24px 0; 
  background: #1dbcd1ff; 
} 
.card  h2  {  margin: 0 0 12px 0; }       /*Evita colapso de margens com o container