.grid-cards {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;                             /* quebra
em múltiplas  linhas */
    justify-content: center;                     /*eixo
pricipal */
    align-items: stretch;                        /*eixo
transversal  */
    padding: 24px;
}
.card {
    flex: 1 1 200px;                              /*cresce,
reduz, base 200px */
    min-width: 200px;
    background: #fff; border: 1px solid #ddd;
    padding: 24px; text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,06 );
} 
