/*
-Altarar a cor de fundo da página
-Alterar fonte dos títulos e pararagrafos
-Adicionar bordas e margens às seções
*/
body {
  background-color: #5ca8c8ff;
  font-family: Arial, sans-serif;
  margin: 20px;
  border: 3px solid #000000ff;
  border-radius: 8px;
  padding: 15px;
}
h1 {
  font-family: 'Comic Sans MS', serif;
  color: #333366;
}
h2,
h3,
h4,
h5 {
  font-family: 'Comic Sans MS', serif;
  color: #020420ff;
}
img {
  display: block;
  width: 22%;
  border: 2px solid #000000ff;
  border-radius: 8px;
  margin: 10px auto;
}

p,
ul,
li {
  text-align: justify;
  font-size: 14px;
  font-family: 'Comic Sans MS', sans-serif;
  color: #000000ff;
  line-height: 1.6;
}
#cit {
  font-style: italic;
}
li::marker {
  content: '✔';
}
