.grid-cards {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;              /* quebra em multiplas linhas */
  justify-content: center;      /* eixo principal */
  align-items: stretch;         /* eixo transversal */
  padding: 24px;
}
.card {
  flex: 1 1 200px;              /*cresce, reduz, base 200px */
  min-width: 200px;
  background: #143747ff; border: 1px solid #000000ff;
  padding: 24px; text-align: center;
  box-shadow: 0 2px 10px rgba(0,0,0,.06);
}