/* torne o fundo da página azul claro */
body {
    background-color: lightblue;
}

/* Faça o título (h1) ser verde */
h1 {
    color:green
}

/* Faça o patrágrafo ser azul escuro */
p {
    color: navy;
}